/* OUTER CONTAINER */
.todo-container {
  display: flex;
  justify-content: center;
  padding: 140px;
}

.todo-box {
  display: flex;
  width: 900px;
  min-height: 500px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 30px;
  background: #fff;
}

.task-form * {
  box-sizing: border-box;
}

.task-form-section {
  width: 40%;
  padding-right: 40px;
  border-right: 2px solid #e0e0e0;
  margin-right: 10px;
  padding-left: 10px;
}

.task-form-section h2 {
  margin-bottom: 20px;
}

.task-form input,
.task-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 15px;
}

.add-btn {
  width: 100%;
  background: royalblue;
  color: white;
  padding: 10px 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

/* RIGHT SIDE TASK LIST */
.task-list-section {
  width: 60%;
  padding-left: 30px;
}

/* TASK CARD */
.task-card {
  background: #f2f2f2;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-card h3 {
  margin: 0;
}

.task-info {
  flex: 1;
  min-width: 0; /* prevents overflow */
}

.task-card p {
  margin: 5px 0 0;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

/* DONE BUTTON */
.done-btn {
  background: #d6d6d6;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
